html 
  head
    meta(charset="UTF-8")
    title My awesome secret page 
  body
    include includes/menubar
    h1 Hej #{user}
    p The is the secret
    h3 Seneste jordskælv
    ul 
      each e in eq   
        li 
          a(href="/earthquakes/"+e.properties.place) #{e.properties.place} (#{e.properties.mag})